<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Gestión</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/consultarEmpleadoClient.js" defer></script>
  </head>

<body class="flex h-screen items-center justify-center bg-gray-100">
  <div class="m-9 flex w-[800px] flex-col place-self-center rounded-2xl bg-[#ffffff] shadow-xl overflow-auto h-screen">
    <!-- Encabezado -->
    <div class="rounded-t-2xl bg-blue-800 p-6 text-2xl font-bold text-white">Consulta del empleado:</div>

    <!-- Información de consulta -->
    <div class="flex flex-col pt-8 pr-8 pl-8">
      <!-- Nombre -->
      <div id="NombreEmpleado" class="mb-2.5 text-lg font-bold text-[#374151]">Nombre:</div>

      <!-- Tipo Documento de Identidad -->
      <div id="TipoDocId" class="mt-2.5 mb-2.5 text-lg font-bold text-[#374151]">Tipo documento de identidad:</div>

      <!-- Documento de Identidad -->
      <div id="DocumentoIdentidad" class="mt-2.5 mb-2.5 text-lg font-bold text-[#374151]">Documento de identidad:</div>

      <!-- Fecha nacimiento -->
      <div class="flex w-2xs flex-col space-y-2">
        <label id="FechaNacimiento" for="fecha" class="mt-2.5 mb-2.5 text-lg font-bold text-[#374151]">Fecha de nacimiento:</label>
      </div>

      <!-- Puesto -->
      <div id="Puesto" class="mt-2.5 mb-2.5 text-lg font-bold text-[#374151]">Puesto:</div>
      
      <!-- Departamento -->
      <div id="Departamento" class="mt-2.5 mb-2.5 text-lg font-bold text-[#374151]">Departamento:</div>

    <!-- Botones -->
    <div class="flex justify-end pt-6">
      <button id="btnCancelar" class="mr-8 mb-8 transform rounded-lg bg-red-700 p-3 text-base font-bold text-[#ffffff] transition-transform hover:bg-red-600 active:scale-95">Cancelar</button>
    </div>
  </div>
</body>
</html>