<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pantalla de Gestión</title>
      <link href="/css/style.css" rel="stylesheet">
      <script src="/js/principalAdminClient.js" defer></script>

  </head>
  <body class="h-screen items-center justify-center bg-gray-100">
    <div class="mt-3.5 ml-3.5">
      <button id="btnSalir" class="font-bold rounded-lg text-xl  w-32 h-8 bg-[#000000] text-[#ffffff] justify-center hover:bg-gray-800">SALIR</button>
    
      <input id="inputBuscar" placeholder="Buscar" autocomplete="off" class="px-3 py-2.5 text-xl font-bold rounded-lg border focus:outline-2 focus:outline-offset-2 bg-[#ffffff] text-[#444444] focus:outline-[#aaaaaa] border-[#cccccc] ml-96">
    
      <button id="btnFiltrar" class="font-bold rounded-lg text-xl  w-32 h-8 bg-blue-800 text-[#ffffff] justify-center hover:bg-blue-700">FILTRAR</button>
    </div>
  
    <!-- Botones -->
    <div class="mt-3.5 ml-3.5">
      <button id="btnInsertar" class="font-bold rounded-lg text-xl  w-48 h-9 bg-green-600 text-[#ffffff] justify-center hover:bg-green-500">INSERTAR</button>
      <button id="btnEliminar" class="font-bold rounded-lg text-xl  w-48 h-9 bg-red-700 text-[#ffffff] justify-center hover:bg-red-600">ELIMINAR</button>
      <button id="btnModificar" class="font-bold rounded-lg text-xl  w-48 h-9 bg-blue-800 text-[#ffffff] justify-center hover:bg-blue-700">MODIFICAR</button>
      <button id="btnImpersonar" class="font-bold rounded-lg text-xl  w-48 h-9 bg-blue-800 text-[#ffffff] justify-center hover:bg-blue-700">IMPERSONAR</button>
    </div>

    <!-- Tabla -->
    <div id="tablaEmpleados" class="relative rounded-lg shadow-md mt-2 overflow-auto h-screen">
  </body>
</html>